/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PT Sans Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: bold; }

img {
  display: block; }

button:focus,
input:focus,
textarea:focus {
  outline: none; }

body {
  color: #000000;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    body {
      background-color: #f2f2f2; } }

.wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px; }
  @media (min-width: 768px) {
    .wrapper {
      width: 768px; } }
  @media (min-width: 1200px) {
    .wrapper {
      box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
      width: 1200px; } }

.header__menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  position: absolute;
  right: 21px;
  top: 16px;
  width: 23px;
  z-index: 2; }
  .header__menu-toggle::before, .header__menu-toggle::after {
    background-color: #ffffff;
    content: "";
    height: 4px;
    position: absolute;
    width: 28px;
    right: -3px;
    top: 9px; }
  .header__menu-toggle::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__menu-toggle::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .header__menu-toggle--closed::before {
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
    content: "";
    height: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .header__menu-toggle--closed::after {
    content: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }

@media (max-width: 767px) {
  .header {
    padding-bottom: 56px;
    position: relative; } }

@media (min-width: 768px) {
  .header__menu-toggle {
    display: none; } }

.menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  .menu__item {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px; }
  .menu__link {
    background-color: #81b3d2;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 7px 0;
    text-decoration: none; }
    .menu__link:hover {
      background-color: #669ec0; }
    .menu__link:active {
      background-color: #5496bd;
      color: #94b9d2; }
    .menu__link--active {
      cursor: default; }
      .menu__link--active:hover, .menu__link--active:active {
        background-color: #81b3d2;
        color: #ffffff; }
  .menu__item:last-child .menu__link {
    border-bottom: none; }

@media (max-width: 767px) {
  .menu--closed {
    display: none; }
  .menu__item:last-child .menu__link {
    box-shadow: inset 0 -7px 4px -4px #6d97b1; } }

@media (min-width: 768px) {
  .menu {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 56px; }
    .menu__list {
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100%; }
    .menu__item {
      font-size: 14px;
      line-height: 26px;
      width: 20%; }
      .menu__item:nth-child(2) {
        margin-right: 20%; }
    .menu__link {
      background: none;
      border: none;
      color: #000000;
      padding: 14px 0; }
      .menu__link:hover {
        background: none;
        color: #81b3d2; }
      .menu__link:active {
        background: none;
        color: #cacaca; }
      .menu__link--active {
        cursor: default; }
        .menu__link--active:hover, .menu__link--active:active {
          background: none;
          color: #000000; } }

.logo {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1; }
  .logo__image {
    height: 83px;
    width: 102px; }

@media (min-width: 768px) {
  .logo {
    top: 0; } }

@media (min-width: 1200px) {
  .logo__image {
    height: 96px;
    width: 187px; } }

.welcome {
  background-color: #dbe9f2;
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  margin-bottom: 38px;
  min-height: 389px;
  position: relative; }
  .welcome--inner-page {
    min-height: 159px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .welcome {
      background-image: url("../img/bg-back-mobile@2x.jpg"); } }
  .welcome__image {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    top: 2px;
    width: 280px; }
    .welcome__image--inner-page {
      height: 40px;
      top: 51px; }
  .welcome::after {
    background-image: linear-gradient(to top right, #ffffff 50%, transparent 50%), linear-gradient(to top left, #ffffff 50%, transparent 50%);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    bottom: 0;
    content: "";
    height: 26px;
    right: 50%;
    position: absolute;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    width: 100%;
    z-index: 1; }

@media (min-width: 768px) {
  .welcome {
    background-image: url("../img/bg-back-desktop.jpg");
    margin-bottom: 50px;
    min-height: 518px; }
    .welcome--inner-page {
      min-height: 290px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .welcome {
      background-image: url("../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 768px) {
    .welcome__image {
      margin-top: 56px;
      width: 460px; }
      .welcome__image--inner-page {
        height: 80px;
        margin-top: 43px; }
    .welcome::before {
      background-image: linear-gradient(to top right, #ffffff 50%, transparent 50%), linear-gradient(to top left, #ffffff 50%, transparent 50%);
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      background-size: 50.1% 100%;
      bottom: 0;
      content: "";
      height: 58px;
      right: 50%;
      position: absolute;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
      width: 91%;
      z-index: 1; }
    .welcome::after {
      height: 38px; } }

@media (min-width: 1200px) {
  .welcome--inner-page {
    min-height: 301px; }
  .welcome__image--inner-page {
    margin-top: 50px; }
  .welcome::before {
    height: 58px;
    width: 58%; }
  .welcome::after {
    height: 57px; } }

.features {
  margin-top: 41px;
  text-align: center; }
  .features__header {
    margin: 0 auto;
    width: 280px;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .features__header {
        width: 648px; } }
    @media (min-width: 1200px) {
      .features__header {
        width: 960px; } }
  .features__title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 26px; }
  .features__text {
    margin: 0; }
  .features__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .features__row--first {
      margin-bottom: 35px;
      position: relative; }
      .features__row--first .feature {
        padding-top: 58px; }
      .features__row--first::after {
        background-image: linear-gradient(to top right, transparent 50%, #ffffff 50%), linear-gradient(to top left, transparent 50%, #ffffff 50%);
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        background-size: 50.1% 100%;
        top: 0;
        content: "";
        height: 17px;
        left: 0;
        position: absolute;
        width: 320px;
        z-index: 1; }
    .features__row:nth-of-type(2) {
      margin-bottom: 9px; }

@media (min-width: 768px) {
  .features__header {
    margin-bottom: 50px;
    width: 550px; }
  .features__title {
    font-size: 21px;
    margin-bottom: 28px; }
  .features__text {
    margin: 0; }
  .features__row {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .features__row--first .feature {
      padding: 0;
      padding-top: 44px; }
    .features__row--first::after {
      content: none; }
    .features__row:nth-of-type(3) .feature-picture {
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; } }

@media (min-width: 1200px) {
  .features__row--first .feature {
    padding-top: 51px; } }

.feature {
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 25px; }
  .feature__title {
    display: block;
    font-size: 18px;
    margin-bottom: 8px; }
  .feature__text {
    margin: 0;
    margin-bottom: 15px;
    line-height: 21px;
    padding: 0 15px; }
  .feature--bg-blue {
    background-color: #81b3d2; }
  .feature--bg-grey {
    background-color: #eeeeee;
    color: #000000;
    padding: 0 20px;
    padding-bottom: 13px;
    padding-top: 27px;
    position: relative; }
    .feature--bg-grey::after {
      content: "";
      border-bottom: 1px solid #d6d6d6;
      bottom: 1px;
      left: 20px;
      position: absolute;
      width: 280px; }
    .feature--bg-grey:last-child::after {
      content: none; }
  .feature--bg-grey .feature__title {
    margin-bottom: 9px; }
  .feature--icon {
    background-color: #ffffff;
    color: #000000;
    fill: #81b3d2;
    margin-bottom: 28px;
    padding: 0;
    padding-left: 70px;
    position: relative;
    text-align: left; }
  .feature--icon-home .feature__icon {
    height: 36px;
    left: 22px;
    position: absolute;
    top: -9px;
    width: 37px; }
  .feature--icon-souvenirs .feature__icon {
    height: 37px;
    left: 25px;
    position: absolute;
    top: -11px;
    width: 32px; }
  .feature--icon-food .feature__icon {
    height: 34px;
    left: 19px;
    position: absolute;
    top: -4px;
    width: 38px; }
  .feature--icon .feature__title {
    margin-bottom: 14px; }
  .feature--icon .feature__text {
    margin: 0;
    padding: 0;
    padding-right: 35px; }

@media (min-width: 768px) {
  .feature {
    padding-bottom: 20px;
    padding-top: 46px;
    width: 256px; }
    .feature__title {
      font-size: 21px;
      margin-bottom: 11px;
      padding: 0 50px; }
    .feature__text {
      margin-bottom: 21px;
      padding: 0 40px; }
    .feature--bg-grey {
      padding: 0;
      padding-bottom: 23px;
      padding-top: 45px; }
      .feature--bg-grey::after {
        content: none; }
    .feature--bg-grey .feature__title {
      margin-bottom: 11px; }
    .feature--bg-grey .feature__text {
      margin-bottom: 20px;
      padding: 0 54px;
      word-wrap: break-word; }
    .feature--icon {
      margin-bottom: 52px;
      margin-right: 2px;
      padding: 0;
      padding: 0 46px;
      padding-top: 124px;
      text-align: center;
      width: 162px; }
    .feature--icon-home .feature__icon {
      height: 72px;
      left: 90px;
      top: 25px;
      width: 75px; }
    .feature--icon-food .feature__icon {
      height: 68px;
      left: 89px;
      top: 28px;
      width: 77px; }
    .feature--icon-souvenirs {
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .feature--icon-souvenirs .feature__icon {
      height: 75px;
      left: 95px;
      top: 22px;
      width: 64px; }
    .feature--icon .feature__title {
      margin-bottom: 21px;
      padding: 0 30px; }
    .feature--icon .feature__text {
      padding: 0; } }

@media (min-width: 1200px) {
  .feature {
    padding-bottom: 33px;
    padding-top: 52px;
    width: 400px; }
    .feature__title {
      font-size: 21px;
      margin-bottom: 11px;
      padding: 0 120px; }
    .feature__text {
      margin-bottom: 21px;
      padding: 0 84px; }
    .feature--bg-grey {
      margin-bottom: 1px;
      padding: 45px 20px;
      width: 360px; }
    .feature--bg-grey .feature__text {
      padding: 0 45px; }
    .feature--icon {
      margin-bottom: 40px;
      margin-right: 3px;
      padding-top: 123px;
      width: 305px; }
    .feature--icon-home .feature__icon,
    .feature--icon-food .feature__icon {
      left: 162px; }
    .feature--icon-souvenirs .feature__icon {
      left: 168px; }
    .feature--icon .feature__title {
      margin-bottom: 22px; }
    .feature--icon .feature__text {
      padding: 0 11px; }
    .feature--icon-souvenirs .feature__text {
      padding: 0 54px; } }

.feature-picture {
  background-color: #e0ecf8;
  overflow: hidden; }
  .feature-picture__image {
    -webkit-transform: translateX(-103px);
        -ms-transform: translateX(-103px);
            transform: translateX(-103px); }

@media (min-width: 768px) {
  .feature-picture {
    height: 256px;
    width: 512px; }
    .feature-picture__image {
      -webkit-transform: translateX(-6px);
          -ms-transform: translateX(-6px);
              transform: translateX(-6px); } }

@media (min-width: 1200px) {
  .feature-picture {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 800px; }
    .feature-picture__image {
      height: auto;
      width: auto;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); } }

.hotel-search {
  padding-top: 25px;
  margin-bottom: 35px;
  text-align: center; }
  .hotel-search__title {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px; }
  .hotel-search__text {
    margin: 0;
    line-height: 24px;
    margin-bottom: 35px; }
  .hotel-search__map {
    background-color: #f3f1ed;
    background-image: url("../img/bg-map-mobile.jpg");
    background-repeat: no-repeat;
    min-height: 350px;
    margin-top: 50px; }

@media (min-width: 768px) {
  .hotel-search {
    padding-top: 55px; }
    .hotel-search__title {
      font-size: 30px;
      margin-bottom: 32px; }
    .hotel-search__text {
      margin-bottom: 42px; }
    .hotel-search__map {
      background-image: url("../img/bg-map-tablet.jpg");
      margin-top: 60px; } }

@media (min-width: 1200px) {
  .hotel-search__title {
    margin-bottom: 30px; }
  .hotel-search__text {
    margin-bottom: 47px; }
  .hotel-search__map {
    background-image: url("../img/bg-map-desktop.jpg");
    margin-top: 67px; } }

.section-header {
  margin: 0 auto;
  width: 280px;
  text-align: center; }
  @media (min-width: 768px) {
    .section-header {
      width: 648px; } }
  @media (min-width: 1200px) {
    .section-header {
      width: 960px; } }

@media (min-width: 768px) {
  .section-header {
    width: 458px; } }

.btn {
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding: 16px 47px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle; }
  .btn:hover {
    background-color: #669ec0; }
  .btn:active {
    background-color: #5496bd;
    color: #94b9d2; }
  .btn--disabled {
    background-color: #e5e5e5;
    color: #ffffff; }
    .btn--disabled:hover, .btn--disabled:active {
      background-color: #e5e5e5;
      color: #ffffff;
      cursor: default; }
  .btn--in-progress {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: change-color;
            animation-name: change-color;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    cursor: default; }
    .btn--in-progress:hover, .btn--in-progress:active {
      color: #ffffff;
      cursor: default; }
  .btn--feedback-sent {
    font-size: 18px;
    padding: 16px 76px; }
  .btn--something-wrong {
    font-size: 18px;
    padding: 16px 79px; }

@-webkit-keyframes change-color {
  0% {
    background-color: #5496bd; }
  50% {
    background-color: #3e84ae; }
  100% {
    background-color: #5496bd; } }

@keyframes change-color {
  0% {
    background-color: #5496bd; }
  50% {
    background-color: #3e84ae; }
  100% {
    background-color: #5496bd; } }

@media (min-width: 768px) {
  .btn--feedback-sent {
    font-size: 21px;
    padding: 16px 155px; }
  .btn--search {
    padding: 16px 0;
    width: 458px; }
  .btn--something-wrong {
    font-size: 21px;
    padding: 16px 122px; }
  .btn--submit {
    padding-left: 35px;
    width: 324px; } }

@media (min-width: 1200px) {
  .btn--submit {
    padding-left: 50px;
    width: 480px; } }

.footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 40px; }
  .footer__hashtag {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 36px; }

@media (min-width: 768px) {
  .footer {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin: 0; }
    .footer__hashtag {
      margin-left: 7px;
      margin-right: 7px;
      margin-top: 9px; } }

@media (min-width: 1200px) {
  .footer {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer__hashtag {
      margin-left: 132px;
      margin-right: 15px; } }

.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 36px; }

@media (min-width: 1200px) {
  .social {
    margin-right: 97px; } }

.social-btn {
  background-color: #81b3d2;
  background-repeat: no-repeat;
  font-size: 0;
  height: 48px;
  margin-right: 6px;
  width: 46px; }
  .social-btn:last-child {
    margin-right: 0; }
  .social-btn__icon {
    fill: #ffffff; }
  .social-btn--tw .social-btn__icon {
    height: 14px;
    width: 18px;
    margin-top: 17px; }
  .social-btn--fb .social-btn__icon {
    height: 18px;
    width: 9px;
    margin-top: 14px; }
  .social-btn--yt .social-btn__icon {
    height: 14px;
    width: 20px;
    margin-top: 17px; }
  .social-btn:hover {
    background-color: #669ec0; }
  .social-btn:active {
    background-color: #5496bd;
    fill: #88b6d1; }
  .social-btn:active .social-btn__icon {
    fill: #88b6d1; }

.copyright {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .copyright__title {
    margin: 0;
    margin-left: 8px; }
  .copyright__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px; }
  .copyright__image {
    height: 42px;
    width: 42px;
    fill: #000000; }
    .copyright__image:hover {
      fill: #81b3d2; }
    .copyright__image:active {
      fill: #b2b2b2; }

@media (min-width: 768px) {
  .copyright {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    margin-top: 2px; }
    .copyright__title {
      margin-left: 15px;
      margin-top: 7px; }
    .copyright__image {
      padding: 0; } }

@media (min-width: 1200px) {
  .copyright {
    margin-right: 35px; }
    .copyright__title {
      margin-right: 0; } }

.photos {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 11px; }
  @media (min-width: 768px) {
    .photos {
      width: 648px; } }
  @media (min-width: 1200px) {
    .photos {
      width: 960px; } }
  .photos__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .photos__header {
    text-align: center;
    margin-bottom: 50px; }
  .photos__title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px; }
  .photos__text {
    line-height: 24px;
    margin: 0;
    padding: 0 5px; }

@media (min-width: 768px) {
  .photos {
    margin-bottom: 66px; }
    .photos__row {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .photos__header {
      margin-top: 74px;
      margin-bottom: 69px; }
    .photos__title {
      font-size: 30px;
      margin-bottom: 31px; }
    .photos__text {
      margin: 0 auto;
      width: 430px; } }

@media (min-width: 1200px) {
  .photos {
    margin-bottom: 70px;
    width: 1200px; }
    .photos__header {
      margin-top: 111px;
      margin-bottom: 71px; }
    .photos__title {
      margin-bottom: 31px; } }

.photo {
  margin-bottom: 40px;
  position: relative; }
  .photo::before {
    border-top: 1px solid #e5e5e5;
    content: "";
    left: -20px;
    position: absolute;
    top: -23px;
    width: 320px; }
  .photo__picture {
    height: 280px;
    width: 280px;
    background-color: #fec882;
    margin-bottom: 15px; }
  .photo__description {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 24px; }
  .photo__author {
    text-transform: none;
    margin-bottom: 8px; }
  .photo__likes {
    color: #000000;
    font-weight: bold;
    padding-left: 36px;
    position: relative;
    text-decoration: none; }
  .photo__icon {
    fill: #b2b2b2;
    height: 22px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 24px; }
  .photo:last-child::after {
    border-top: 1px solid #e5e5e5;
    content: "";
    left: -20px;
    position: absolute;
    bottom: -18px;
    width: 320px; }

@media (min-width: 768px) {
  .photo {
    margin-bottom: 0px;
    width: 50%; }
    .photo::before {
      content: none; }
    .photo__picture {
      height: 267px;
      width: 324px;
      margin-bottom: 0; }
      .photo__picture--big-size {
        height: 400px;
        width: 648px; }
    .photo__description {
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      background-color: #f2f2f2;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      min-height: 72px;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      padding-top: 8px;
      position: relative; }
    .photo__title {
      width: 70%; }
    .photo__author {
      width: 70%; }
    .photo__likes {
      position: absolute;
      right: 20px;
      top: 28px;
      width: 33px; }
      .photo__likes--wide {
        right: 21px; }
    .photo__icon {
      left: 4px;
      top: 0px; }
    .photo:first-child {
      width: 100%; }
    .photo:last-child::after {
      content: none; } }

@media (min-width: 1200px) {
  .photo {
    position: relative;
    width: 33.3333%; }
    .photo__picture {
      width: 400px; }
      .photo__picture--big-size {
        width: 1200px; }
    .photo__description {
      background-color: rgba(0, 0, 0, 0.3);
      bottom: 0;
      color: #ffffff;
      left: 0;
      padding: 0;
      padding-top: 8px;
      position: absolute;
      width: 100%; }
    .photo__title, .photo__author {
      padding-left: 20px; }
    .photo__likes {
      color: #ffffff;
      top: 28px; }
    .photo__icon {
      fill: #ffffff; } }

.presentation {
  margin-bottom: 141px;
  position: relative; }
  .presentation__title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 26px; }
  .presentation__text {
    line-height: 24px;
    margin: 0;
    margin-bottom: 35px;
    padding: 0 10px; }
  .presentation__video {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  .presentation__content {
    background-color: #c69d96;
    background-image: url("../img/video-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 320px 200px;
    min-height: 200px; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .presentation__content {
        background-image: url("../img/video-mobile@2x.jpg"); } }
  .presentation__controls {
    margin: 0 auto;
    width: 280px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -65px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    left: 20px;
    height: 110px;
    position: absolute; }
    @media (min-width: 768px) {
      .presentation__controls {
        width: 648px; } }
    @media (min-width: 1200px) {
      .presentation__controls {
        width: 960px; } }
    .presentation__controls::after {
      background-color: #f2f2f2;
      bottom: -1px;
      content: "";
      left: 0;
      min-height: 66px;
      position: absolute;
      width: 100%; }
  .presentation__control-progress {
    position: relative; }
  .presentation__scale {
    cursor: pointer;
    width: 235px; }
  .presentation__bar {
    border-bottom: 3px solid rgba(255, 255, 255, 0.2); }
  .presentation__toggle {
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    height: 9px;
    left: 15%;
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-15%, -50%);
        -ms-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
    width: 9px; }
  .presentation__control-revert {
    cursor: pointer;
    fill: #5c6870;
    height: 20px;
    margin-left: 11px;
    margin-right: 104px;
    width: 16px;
    z-index: 2; }
    .presentation__control-revert:hover {
      fill: #333333; }
    .presentation__control-revert:active {
      fill: #c1c1c1; }
  .presentation__control-revert .presentation__control-icon {
    height: 20px;
    width: 16px; }
  .presentation__control-subtitle {
    cursor: pointer;
    fill: #5c6870;
    height: 20px;
    width: 32px;
    z-index: 2; }
    .presentation__control-subtitle:hover {
      fill: #333333; }
    .presentation__control-subtitle:active {
      fill: #c1c1c1; }
  .presentation__control-subtitle .presentation__control-icon {
    height: 20px;
    width: 32px; }
  .presentation__control-fullscreen {
    cursor: pointer;
    fill: #5c6870;
    height: 20px;
    margin-right: 8px;
    width: 20px;
    z-index: 2; }
    .presentation__control-fullscreen:hover {
      fill: #333333; }
    .presentation__control-fullscreen:active {
      fill: #c1c1c1; }
  .presentation__control-fullscreen .presentation__control-icon {
    height: 20px;
    width: 20px; }

@media (min-width: 768px) {
  .presentation {
    margin: 0 auto;
    width: 280px;
    margin-bottom: 77px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .presentation {
      width: 648px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .presentation {
      width: 960px; } }

@media (min-width: 768px) {
    .presentation__title {
      font-size: 30px;
      margin-bottom: 31px; }
    .presentation__text {
      margin-bottom: 73px; }
    .presentation__content {
      background-image: url("../img/video-tablet.jpg");
      background-size: 648px 500px;
      min-height: 500px; } }
    @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
      .presentation__content {
        background-image: url("../img/video-tablet@2x.jpg"); } }

@media (min-width: 768px) {
    .presentation__controls {
      bottom: 0;
      left: 0;
      height: 93px; }
      .presentation__controls::after {
        content: none; }
    .presentation__scale {
      margin-right: 10px;
      width: 389px; }
    .presentation__toggle {
      left: 29%;
      -webkit-transform: translate(-29%, -50%);
          -ms-transform: translate(-29%, -50%);
              transform: translate(-29%, -50%); }
    .presentation__control-revert {
      fill: #ffffff;
      margin: 0;
      margin-left: 19px;
      margin-right: 11px;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
      .presentation__control-revert:hover {
        fill: #81b3d2; }
      .presentation__control-revert:active {
        fill: #c1c1c1; }
    .presentation__control-subtitle {
      fill: #ffffff; }
      .presentation__control-subtitle:hover {
        fill: #81b3d2; }
      .presentation__control-subtitle:active {
        fill: #c1c1c1; }
    .presentation__control-fullscreen {
      fill: #ffffff;
      margin-right: 26px; }
      .presentation__control-fullscreen:hover {
        fill: #81b3d2; }
      .presentation__control-fullscreen:active {
        fill: #c1c1c1; } }

@media (min-width: 1200px) {
  .presentation {
    margin-bottom: 121px;
    width: 800px; }
    .presentation__title {
      margin-bottom: 31px; }
    .presentation__text {
      margin-bottom: 71px; }
    .presentation__content {
      background-image: url("../img/video-desktop.jpg");
      background-size: 800px 500px; } }
    @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
      .presentation__content {
        background-image: url("../img/video-desktop@2x.jpg"); } }

@media (min-width: 1200px) {
    .presentation__controls {
      width: 100%; }
    .presentation__scale {
      width: 540px; }
    .presentation__toggle {
      left: 21%;
      -webkit-transform: translate(-21%, -50%);
          -ms-transform: translate(-21%, -50%);
              transform: translate(-21%, -50%); } }

.feedback-section {
  margin: 0 auto;
  width: 280px; }
  @media (min-width: 768px) {
    .feedback-section {
      width: 648px; } }
  @media (min-width: 1200px) {
    .feedback-section {
      width: 960px; } }
  .feedback-section__header {
    margin-bottom: 36px;
    text-align: center; }
  .feedback-section__title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px; }
  .feedback-section__text {
    line-height: 24px;
    margin: 0; }

@media (min-width: 768px) {
  .feedback-section__header {
    margin: 0 auto;
    margin-bottom: 74px;
    margin-top: 74px;
    width: 440px; }
  .feedback-section__title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 31px; }
  .feedback-section__text {
    line-height: 24px;
    margin: 0; } }

@media (min-width: 1200px) {
  .feedback-section__header {
    margin-bottom: 59px;
    margin-top: 111px; } }

.feedback {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 73px; }
  .feedback__item {
    position: relative; }
    .feedback__item::before {
      content: "";
      border-top: 1px solid #e5e5e5;
      left: -20px;
      position: absolute;
      top: -19px;
      width: 320px; }
    .feedback__item--introduce {
      margin-bottom: 24px;
      -webkit-order: -2;
          -ms-flex-order: -2;
              order: -2; }
    .feedback__item--contacts {
      margin-bottom: 37px;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    .feedback__item--impression {
      margin-bottom: 18px; }
    .feedback__item--places {
      margin-bottom: 6px; }
    .feedback__item--emotions {
      margin-bottom: 42px; }
    .feedback__item--emotions .feedback__header {
      margin-bottom: 17px; }
  .feedback__name {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
  .feedback__caption--introduce {
    margin-right: 19px; }
  .feedback__caption--impression, .feedback__caption--places {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-left: 78px;
    text-transform: none; }
    .feedback__caption--impression::before, .feedback__caption--places::before {
      background-color: #f2f2f2;
      content: "";
      display: block;
      height: 56px;
      left: 0;
      position: absolute;
      top: -14px;
      width: 56px; }
    .feedback__caption--impression:hover::before, .feedback__caption--places:hover::before {
      background-color: #e5e5e5; }
    .feedback__caption--impression:active::before, .feedback__caption--places:active::before {
      background-color: #d5d5d5; }
  .feedback__caption--impression::before {
    border-radius: 50%; }
  .feedback__caption--places::before {
    border-radius: 5px; }
  .feedback__caption--contacts {
    margin-bottom: 6px;
    margin-left: 22px;
    position: relative; }
    .feedback__caption--contacts::after {
      background-color: #e6e6e6;
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      height: 58px;
      position: absolute;
      right: 0;
      top: 32px;
      width: 58px; }
  .feedback__caption--error {
    color: #ff5c5c;
    display: none;
    margin-left: 21px;
    padding-top: 5px;
    text-transform: none; }
  .feedback__caption--show {
    display: block; }
  .feedback__field {
    background-color: #f2f2f2;
    border: none;
    font-size: 18px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 16px 22px;
    padding-right: 72px; }
    .feedback__field::-webkit-input-placeholder {
      color: #000000; }
    .feedback__field::-moz-placeholder {
      color: #000000; }
    .feedback__field:-ms-input-placeholder {
      color: #000000; }
    .feedback__field::placeholder {
      color: #000000; }
    .feedback__field--introduce {
      box-sizing: border-box;
      height: 58px;
      width: 100%; }
    .feedback__field--introduce:hover, .feedback__field--contacts:hover {
      background-color: #e5e5e5; }
    .feedback__field--introduce:focus, .feedback__field--contacts:focus {
      background-color: #ffffff;
      outline: 4px solid #e5e5e5; }
    .feedback__field--impression, .feedback__field--places {
      display: none; }
  .feedback__field-wrapper {
    width: 100%; }
  .feedback__field + .feedback__caption {
    cursor: pointer; }
  .feedback__field--impression:checked + .feedback__caption--impression::after {
    background-color: #333333;
    border-radius: 50%;
    content: "";
    height: 22px;
    left: 17px;
    position: absolute;
    top: 3px;
    width: 22px; }
  .feedback__field--impression:checked + .feedback__caption--impression:active::after {
    background-color: #a4a4a4; }
  .feedback__field--places:checked + .feedback__caption--places::after {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 16px;
    left: 17px;
    position: absolute;
    top: 6px;
    width: 24px; }
  .feedback__field--places:checked + .feedback__caption--places:active::after {
    background-image: url("../img/icon-tick-active.svg"); }
  .feedback__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .feedback__list-item {
    position: relative; }
    .feedback__list-item--impression {
      margin-bottom: 43px;
      margin-top: 38px; }
    .feedback__list-item--places {
      margin-bottom: 54px;
      margin-top: 31px; }
  .feedback__phone, .feedback__email {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 11px;
    position: relative; }
  .feedback__phone .feedback__caption::after {
    background-image: url("../img/icon-phone.svg"); }
  .feedback__email .feedback__caption::after {
    background-image: url("../img/icon-mail.svg"); }
  .feedback__emotions {
    background-color: #f2f2f2;
    border: none;
    font-size: 18px;
    font-weight: bold;
    height: 126px;
    line-height: 26px;
    padding: 17px 21px;
    resize: none;
    width: 237px; }
    .feedback__emotions::-webkit-input-placeholder {
      color: #000000; }
    .feedback__emotions::-moz-placeholder {
      color: #000000; }
    .feedback__emotions:-ms-input-placeholder {
      color: #000000; }
    .feedback__emotions::placeholder {
      color: #000000; }
  .feedback__header {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 21px;
    text-align: center; }
  .feedback__required-fields {
    display: none; }

@media (min-width: 768px) {
  .feedback {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 97px; }
    .feedback__item::before {
      border-top: 1px solid #dbdbdb;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 12px;
      width: 100%;
      z-index: -1; }
    .feedback__item--introduce, .feedback__item--impression {
      margin-bottom: 35px; }
      .feedback__item--introduce::before, .feedback__item--impression::before {
        content: none; }
    .feedback__item--introduce {
      margin-left: 56px;
      width: 41%; }
    .feedback__item--impression {
      -webkit-order: -3;
          -ms-flex-order: -3;
              order: -3;
      position: relative;
      width: 50%; }
      .feedback__item--impression::after {
        border-right: 1px solid #dbdbdb;
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        height: 292px; }
    .feedback__item--contacts, .feedback__item--places, .feedback__item--emotions {
      width: 100%; }
    .feedback__item--contacts {
      margin-bottom: 30px;
      text-align: center; }
    .feedback__item--places {
      margin-bottom: 55px;
      text-align: center; }
      .feedback__item--places::before {
        top: 25px; }
    .feedback__item--emotions {
      margin-bottom: 48px;
      text-align: center; }
    .feedback__item--introduce .feedback__header {
      margin-bottom: 57px;
      text-align: left; }
    .feedback__item--impression .feedback__header {
      margin-bottom: 73px;
      text-align: left; }
    .feedback__item--contacts .feedback__header {
      display: inline-block;
      margin-bottom: 24px;
      padding: 0 62px;
      vertical-align: middle; }
    .feedback__item--places .feedback__header {
      display: inline-block;
      margin-bottom: 25px;
      vertical-align: middle;
      width: 401px; }
    .feedback__item--emotions .feedback__header {
      display: inline-block;
      margin-bottom: 57px;
      padding: 0 76px;
      vertical-align: middle; }
    .feedback__name {
      margin-bottom: 20px; }
    .feedback__caption--impression {
      padding-left: 76px; }
    .feedback__caption--contacts {
      margin-bottom: 7px;
      margin-left: 0;
      padding-left: 21px; }
      .feedback__caption--contacts::after {
        top: 33px;
        left: 590px; }
    .feedback__caption--error {
      margin-left: 0;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      padding: 0; }
    .feedback__list--places {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: 34px;
      text-align: left; }
    .feedback__list-item--impression {
      margin-bottom: 52px; }
    .feedback__list-item--places {
      margin-bottom: 30px;
      margin-left: 13px;
      width: 40%; }
      .feedback__list-item--places:nth-child(1) {
        -webkit-order: -4;
            -ms-flex-order: -4;
                order: -4; }
      .feedback__list-item--places:nth-child(2) {
        -webkit-order: -2;
            -ms-flex-order: -2;
                order: -2; }
      .feedback__list-item--places:nth-child(3) {
        -webkit-order: -3;
            -ms-flex-order: -3;
                order: -3; }
    .feedback__phone, .feedback__email {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 23px; }
    .feedback__email--icon {
      height: 16px;
      top: 54px;
      width: 16px; }
    .feedback__field--contacts {
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      width: 100%; }
    .feedback__emotions {
      width: 606px; }
    .feedback__header {
      background-color: #ffffff;
      font-size: 21px;
      z-index: 2; }
    .feedback__please {
      display: none; }
    .feedback__required-fields {
      display: block;
      margin-top: 18px; } }

@media (min-width: 1200px) {
  .feedback {
    margin-bottom: 103px; }
    .feedback__item--introduce, .feedback__item--impression {
      margin-bottom: 32px; }
    .feedback__item--introduce {
      margin-left: 0px;
      width: 41.7%; }
    .feedback__item--contacts {
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 30px; }
    .feedback__item--places {
      margin-bottom: 30px; }
    .feedback__item--emotions {
      margin-bottom: 50px; }
    .feedback__item--impression .feedback__header {
      margin-left: 79px; }
    .feedback__item--contacts .feedback__header {
      margin: 0 50px;
      margin-bottom: 41px;
      width: 29%; }
    .feedback__caption--impression {
      padding-left: 79px; }
      .feedback__caption--impression::before {
        left: 2px; }
    .feedback__caption--contacts {
      margin-right: 20px;
      margin-top: 8px;
      padding: 0;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
      .feedback__caption--contacts::after {
        left: 342px;
        top: -17px; }
    .feedback__caption--email::after {
      left: 421px; }
    .feedback__caption--error {
      margin-left: 106px;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      padding-bottom: 7px;
      text-align: left;
      width: 100%; }
    .feedback__email .feedback__caption--error {
      margin-left: 183px; }
    .feedback__caption--contact-phone {
      display: none; }
    .feedback__caption--places {
      padding-left: 80px; }
    .feedback__field--contacts {
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      width: 46.2%; }
    .feedback__field--impression:checked + .feedback__caption--impression::after {
      left: 20px; }
    .feedback__list--places {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0; }
    .feedback__list-item--places {
      margin-bottom: 51px;
      margin-left: 0;
      width: auto; }
      .feedback__list-item--places:nth-child(4) {
        margin-right: 2px; }
    .feedback__phone, .feedback__email {
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 50%; }
    .feedback__emotions {
      width: 918px; }
    .feedback__please {
      display: inline; } }

.modal-form {
  background-color: #f2f2f2;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  display: none;
  text-align: center;
  padding-bottom: 21px;
  position: absolute;
  width: 320px;
  z-index: 10; }
  .modal-form--something-wrong {
    background-color: #ffffff;
    padding-bottom: 36px;
    top: 1220px; }
  .modal-form--feedback-sent {
    top: 2020px; }
  .modal-form__header {
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 43px; }
    .modal-form__header--something-wrong {
      padding-top: 40px; }
  .modal-form__text {
    background-color: #ffffff;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 40px;
    padding-bottom: 37px; }
    .modal-form__text--something-wrong {
      padding: 0 45px;
      padding-bottom: 5px; }
  .modal-form--show {
    display: block; }

@media (min-width: 768px) {
  .modal-form {
    left: 50%;
    padding-bottom: 44px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .modal-form--something-wrong {
      padding-bottom: 49px;
      top: 1250px;
      width: 400px; }
    .modal-form--feedback-sent {
      top: 1630px;
      width: 640px; }
    .modal-form__header {
      font-size: 30px;
      padding-bottom: 5px;
      padding-top: 64px; }
      .modal-form__header--something-wrong {
        line-height: 40px;
        padding: 0 80px;
        padding-top: 56px; }
    .modal-form__text {
      margin-bottom: 45px;
      padding: 25px 80px;
      padding-bottom: 34px; }
      .modal-form__text--something-wrong {
        margin-bottom: 34px;
        padding: 24px 60px;
        padding-bottom: 0px; } }

@media (min-width: 1200px) {
  .modal-form--something-wrong {
    top: 1170px; }
  .modal-form--feedback-sent {
    top: 1470px; } }
