@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin outlined($color: red) {
  outline: 1px dashed $color;
}

// @mixin respond-to($breakpoint) {
//   @if map-has-key($breakpoints, $breakpoint) {
//     @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
//       @content;
//     }
//   }
// }
//
// @mixin screen-width($breakpoint) {
//   @if map-has-key($breakpoints, $breakpoint) {
//     max-width: #{map-get($breakpoints, $breakpoint)};
//   }
// }

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}
