$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$color-base: #000000;
$color-white: #ffffff;

$bg-color-base: #81b3d2;
$bg-color-grey: #eeeeee;

$font-family-base: "PT Sans", "Tahoma", sans-serif;
$font-size-base: 14px;
$font-size-medium: 18px;
$font-size-large: 21px;

$line-height-small: 21px;
$line-height-medium: 24px;
$line-height-base: 26px;
$line-height-large: 40px;
