$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$color-base: #000000;

$font-family-base: "PT Sans", "Tahoma", sans-serif;
$font-size-base: 14px;
$font-size-large: ;
$font-size-small: ;
$font-size-h1: ;
$font-size-h2: ;
$font-size-h3: ;

$line-height-base: 26px;
