$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$color-base: #000000;
$color-white: #ffffff;
$color-border: #e5e5e5;
$color-separator: #dbdbdb;
$color-active: #94b9d2;
$color-hover: #81b3d2;
$color-hover-input: #e5e5e5;
$color-hover-controls: #333333;
$color-active-menu: #cacaca;
$color-active-social: #88b6d1;
$color-active-copyright: #b2b2b2;
$color-active-input: #d5d5d5;
$color-active-controls: #c1c1c1;

$bg-color-base: #81b3d2;
$bg-color-grey: #eeeeee;
$bg-color-lightgrey: #f2f2f2;
$bg-color-hover: #669ec0;
$bg-color-active: #5496bd;
$bg-color-disabled: #e5e5e5;

$font-family-base: "PT Sans", "Tahoma", sans-serif;
$font-size-base: 14px;
$font-size-medium: 18px;
$font-size-large: 21px;
$font-size-extra: 30px;

$line-height-small: 21px;
$line-height-medium: 24px;
$line-height-base: 26px;
$line-height-large: 40px;
