body {
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $line-height-base;
  text-transform: uppercase;

  @media #{$break-large} {
    background-color: $bg-color-lightgrey;
  }

}
