.btn {
  background-color: $bg-color-base;
  border: none;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: bold;
  line-height: $line-height-base;
  padding: 16px 47px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    background-color: $bg-color-hover;
  }

  &:active {
    background-color: $bg-color-active;
    color: $color-active;
  }

  &--disabled {
    background-color: $bg-color-disabled;
    color: $color-white;

    &:hover,
    &:active {
      background-color: $bg-color-disabled;
      color: $color-white;
      cursor: default;
    }

  }

  &--in-progress {
    animation-iteration-count: infinite;
    animation-name: change-color;
    animation-duration: 1s;
    cursor: default;

    &:hover,
    &:active {
      color: $color-white;
      cursor: default;
    }

  }

  &--feedback-sent {
    font-size: $font-size-medium;
    padding: 16px 76px;
  }

  &--something-wrong {
    font-size: $font-size-medium;
    padding: 16px 79px;
  }

}

@keyframes change-color {

  0% {
    background-color: #5496bd;
  }
  50% {
    background-color: #3e84ae;
  }
  100% {
    background-color: #5496bd;
  }

}

@media #{$break-medium} {

  .btn {

    &--feedback-sent {
      font-size: $font-size-large;
      padding: 16px 155px;
    }

    &--search {
      padding: 16px 0;
      width: 458px;
    }

    &--something-wrong {
      font-size: $font-size-large;
      padding: 16px 122px;
    }

    &--submit {
      padding-left: 35px;
      width: 324px;
    }

  }

}

@media #{$break-large} {

  .btn--submit {
    padding-left: 50px;
    width: 480px;
  }

}
