.btn {
  background-color: $bg-color-base;
  border: none;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: bold;
  line-height: $line-height-base;
  padding: 16px 47px;
  text-decoration: none;
  text-transform: uppercase;

}

@media #{$break-medium} {

  .btn {

    &--search {
      padding: 16px 0;
      width: 458px;
    }

    &--submit {
      padding-left: 35px;
      width: 324px;
    }

  }

}

@media #{$break-large} {

  .btn--submit {
    padding-left: 50px;
    width: 480px;
  }

}
