.copyright {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  &__title {
    margin: 0;
    margin-left: 8px;
  }

  &__image {
    @include size(42px);
    fill: $color-base;
    margin-left: 5px;
  }

}

@media #{$break-medium} {

  .copyright {
    align-items: flex-start;
    margin-top: 5px;

    &__title {
      margin-left: 15px;
      margin-top: 4px;
    }

    &__image {
      padding: 0;
      margin-left: 5px;
    }

  }

}

@media #{$break-large} {

  .copyright {
    margin-right: 35px;

    &__title {
      margin-right: 0;
    }

  }

}
