.copyright {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  &__title {
    margin: 0;
    margin-right: 10px
  }

  &__image {
    // TODO: Размер не применяется к изображению (для себя)
    @include size(27px, 34px);
    fill: $color-base;
  }

}

@media #{$break-medium} {

  .copyright {
    align-items: flex-start;
    margin-right: 3px;
    margin-top: 5px;

    &__title {
      padding-right: 4px;
      margin-top: 4px;
    }
  }

}

@media #{$break-large} {

  .copyright {
    margin-right: 45px;

    &__title {
      padding-right: 0;
    }

  }

}
