.features {
  text-align: center;

  &__header {
    @include container;

    margin-bottom: 25px;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: bold;
    margin: 0;
    margin-bottom: 27px;
  }

  &__text {
    margin: 0;
  }

  &__row {
    display: flex;
    flex-direction: column;

    &:first-of-type  {
      position: relative;

      .feature {
        padding-top: 58px;
      }

      &::after {
        background-image:
          linear-gradient(
            to top right,
            transparent 50%,
            $color-white 50%
          ),
          linear-gradient(
            to top left,
            transparent 50%,
            $color-white 50%
          );
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        background-size: 50.1% 100%;
        top: 0;
        content: "";
        height: 17px;
        left: 0;
        position: absolute;
        width: 320px;
        z-index: 1;
      }

    }

    &:nth-of-type(2)  {
      margin-top: 35px;
      margin-bottom: 9px;
    }

  }

}

@media #{$break-medium} {

  .features {

    &__header {
      padding-bottom: 26px;
      width: 550px;
    }

    &__title {
      font-size: $font-size-large;
    }

    &__text {
      margin: 0;
    }

    &__row {
      flex-direction: row;

      &:first-of-type  {

        .feature {
          padding-top: 45px;
        }

        &::after {
          content: none;
        }

      }

      &:nth-of-type(3) .feature-picture {
        order: -1;
      }

    }

  }

}

@media #{$break-large} {

  .features__row:first-of-type .feature {
    padding-top: 53px;
  }

}
