.feature-picture {
  background-color: $color-white;
  overflow: hidden;
  // TODO: Как сделать так, чтобы не задавать конкретные размеры?
  width: 320px;

  &__image {
    // TODO: Можно ли так кадрировать?
    margin-left: -100px;
  }

}

@media #{$break-medium} {

  .feature-picture {
    width: 512px;

    &__image {
      margin: 0;
    }

  }

}

@media #{$break-large} {

  .feature-picture {
    height: 256px;
    width: 800px;

    &__image {
      @include size(unset, unset);
      margin-top: -70px;
    }

  }

}
