.feature {
  color: $color-white;
  padding-top: 40px;
  padding-bottom: 25px;

  &__title {
    display: block;
    font-size: $font-size-medium;
    margin-bottom: 8px;
  }

  &__text {
    margin: 0;
    margin-bottom: 15px;
    line-height: $line-height-small;
    padding: 0 15px;
  }

  &--bg-blue {
    background-color: $bg-color-base;
  }

  &--bg-grey {
    background-color: $bg-color-grey;
    color: $color-base;
    padding: 0 20px;
    padding-bottom: 14px;
    padding-top: 27px;
    position: relative;

    &::after {
      content: "";
      border-bottom: 1px solid #d6d6d6;
      bottom: 1px;
      left: 20px;
      position: absolute;
      width: 280px;
    }

    &:last-child {

      &::after {
        content: none;
      }

    }

  }

  &--icon {
    background-color: $color-white;
    color: $color-base;
    padding: 0;
    padding-bottom: 27px;
    padding-left: 70px;
    text-align: left;
  }

  &--icon &__title {
    margin-bottom: 15px;
  }

  &--icon &__text {
    margin: 0;
    padding: 0;
    padding-right: 35px;
  }

}

@media #{$break-medium} {

  .feature {
    padding-bottom: 23px;
    padding-top: 45px;
    width: 256px;

    &__title {
      font-size: $font-size-large;
      margin-bottom: 10px;
      padding: 0 50px;
    }

    &__text {
      margin-bottom: 21px;
      padding: 0 40px;
    }

    &--bg-grey {
      padding: 0;
      padding-bottom: 23px;
      padding-top: 45px;

      &::after {
        content: none;
      }

    }

    &--bg-grey &__text {
      // TODO: Как сделать перенос слова Достопримеча-тельности?
      padding: 0 54px; //50

      word-wrap: break-word;
    }

    &--icon {
      margin-bottom: 52px;
      padding: 0 49px;
      padding-top: 124px;
      text-align: center;
    }

    &--icon &__title {
      margin-bottom: 21px;
      padding: 0 30px;
    }

    &--icon &__text {
      padding: 0;
    }

    &--icon-souvenirs {
      order: 1;
    }

  }

}

@media #{$break-large} {

  .feature {
    padding-bottom: 36px;
    padding-top: 52px;
    width: 400px;

    &__title {
      font-size: $font-size-large;
      margin-bottom: 10px;
      padding: 0 120px;
    }

    &__text {
      margin-bottom: 21px;
      padding: 0 55px;
    }

    &--bg-grey {
      padding: 45px 20px;
    }

    &--bg-grey &__text {
      padding: 0 45px;
    }

    &--icon {
      margin-bottom: 37px;
      padding-top: 124px;
    }

    &--icon &__text {
      padding: 0 24px;
    }

  }

}
