.feature {
  @include container;

  color: $color-white;
  min-height: 170px;
  padding-top: 40px;

  &__title {
    font-size: $font-size-medium;
    font-weight: bold;
    line-height: $line-height-base;
  }

  &__text {
    margin: 0;
  }

}

@media #{$break-medium} {

  .feature {
    float: left;
    min-height: 256px;
    width: 256px;
  }

}

@media #{$break-large} {

  .feature {
    width: 400px;
  }

}
