.feedback-section {
  @include container;

  &__header {
    min-height: 204px;
    text-align: center;
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  @include outlined;
}

@media #{$break-medium} {

  .feedback-section {

    &__header {
      min-height: 250px;
    }

  }

}

@media #{$break-large} {

  .feedback-section {

    &__header {
      min-height: 270px;
    }

  }

}
