.feedback-section {
  @include container;

  &__header {
    margin-bottom: 36px;
    text-align: center;
  }

  &__title {
    font-size: $font-size-medium;
    margin: 0;
    margin-bottom: 25px;
  }

  &__text {
    line-height: $line-height-medium;
    margin: 0;
  }

}

@media #{$break-medium} {

  .feedback-section {

    &__header {
      margin: 0 auto;
      margin-bottom: 74px;
      margin-top: 74px;
      width: 440px;
    }

    &__title {
      font-size: $font-size-extra;
      margin: 0;
      margin-bottom: 31px;
    }

    &__text {
      line-height: $line-height-medium;
      margin: 0;
    }

  }

}

@media #{$break-large} {

  .feedback-section__header {
    margin-bottom: 55px;
    margin-top: 110px;
  }

}
