.header {

  &__menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    position: absolute;
    right: 21px;
    top: 16px;
    width: 23px;
    z-index: 2;

    &::before,
    &::after {
      background-color: #ffffff;
      content: "";
      height: 4px;
      position: absolute;
      width: 28px;
      right: -3px;
      top: 9px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &--closed::before {
      background-color: #81b3d2;
      box-shadow: 0 8px 0 0 #81b3d2,
                  0 16px 0 0 #81b3d2;
      content: "";
      height: 4px;
      position: absolute;
      right: 0;
      top: 0;
      width: 23px;
      transform: none;
    }

    &--closed::after {
      content: none;
      transform: none;
    }

  }

}

@media #{$break-small } {

  .header {
    padding-bottom: 56px;
    position: relative;
  }

}

@media #{$break-medium} {

  .header__menu-toggle {
    display: none;
  }

}
