.hotel-search {
  padding-top: 26px;
  margin-bottom: 38px;
  text-align: center;

  &__title {
    font-size: $font-size-large;
    font-weight: bold;
    margin: 0;
    margin-bottom: 18px;
  }

  &__text {
    margin: 0;
    line-height: $line-height-medium;
    margin-bottom: 36px;
  }

  &__map {
    background-image: url("../img/bg-map-mobile.jpg");
    background-repeat: no-repeat;
    min-height: 350px;
    margin-top: 48px;
  }

}

@media #{$break-medium} {

  .hotel-search {
    padding-top: 55px;

    &__title {
      font-size: $font-size-extra;
      margin-bottom: 31px;
    }

    &__text {
      margin-bottom: 42px;
    }

    &__map {
      margin-top: 58px;
    }

  }

}

@media #{$break-large} {

  .hotel-search {
    min-height: 330px;

    &__text {
      margin-bottom: 46px;
    }

    &__map {
      margin-top: 66px;
    }

  }

}
