.hotel-search {
  min-height: 287px;
  text-align: center;

  &__title {
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__map {
    min-height: 350px;
  }

  @include outlined;
}

@media #{$break-medium} {

  .hotel-search {
    min-height: 318px;
  }

}

@media #{$break-large} {

  .hotel-search {
    min-height: 330px;
  }

}
