.hotel-search {
  padding-top: 25px;
  margin-bottom: 35px;
  text-align: center;

  &__title {
    font-size: $font-size-large;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
  }

  &__text {
    margin: 0;
    line-height: $line-height-medium;
    margin-bottom: 37px;
  }

  &__map {
    background-image: url("../img/bg-map-mobile.jpg");
    background-repeat: no-repeat;
    min-height: 350px;
    margin-top: 50px;
  }

}

@media #{$break-medium} {

  .hotel-search {
    padding-top: 55px;

    &__title {
      font-size: $font-size-extra;
      margin-bottom: 32px;
    }

    &__text {
      margin-bottom: 42px;
    }

    &__map {
      margin-top: 60px;
    }

  }

}

@media #{$break-large} {

  .hotel-search {

    &__title {
      margin-bottom: 31px;
    }

    &__text {
      margin-bottom: 49px;
    }

    &__map {
      margin-top: 67px;
    }

  }

}
