.modal-form {
  background-color: $bg-color-lightgrey;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  display: none;
  text-align: center;
  padding-bottom: 21px;
  position: absolute;
  width: 320px;
  z-index: 10;

  &--something-wrong {
    background-color: $color-white;
    padding-bottom: 36px;
    top: 1220px;
  }

  &--feedback-sent {
    top: 2020px;
  }

  &__header {
    background-color: $color-white;
    font-size: $font-size-medium;
    font-weight: bold;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 43px;

    &--something-wrong {
      padding-top: 40px;
    }

  }

  &__text {
    background-color: $color-white;
    line-height: $line-height-medium;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 40px;
    padding-bottom: 37px;

    &--something-wrong {
      padding: 0 45px;
      padding-bottom: 5px;
    }

  }

  &--show {
    display: block;
  }

}

@media #{$break-medium} {

  .modal-form {
    left: 50%;
    padding-bottom: 44px;
    transform: translateX(-50%);

    &--something-wrong {
      padding-bottom: 49px;
      top: 1250px;
      width: 400px;
    }

    &--feedback-sent {
      top: 1630px;
      width: 640px;
    }

    &__header {
      font-size: $font-size-extra;
      padding-bottom: 5px;
      padding-top: 64px;

      &--something-wrong {
        line-height: $line-height-large;
        padding: 0 80px;
        padding-top: 56px;
      }

    }

    &__text {
      margin-bottom: 45px;
      padding: 25px 80px;
      padding-bottom: 34px;

      &--something-wrong {
        margin-bottom: 34px;
        padding: 24px 60px;
        padding-bottom: 0px;
      }

    }

  }

}

@media #{$break-large} {

  .modal-form {

    &--something-wrong {
      top: 1170px;
    }

    &--feedback-sent {
      top: 1470px;
    }

  }

}
