.photo {
  margin-bottom: 40px;
  position: relative;

  &::before {
    border-top: 1px solid $color-border;
    content: "";
    left: -20px;
    position: absolute;
    top: -23px;
    width: 320px;
  }

  &__picture {
    @include size(280px);
    margin-bottom: 14px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    line-height: $line-height-medium;
  }

  &__title {
    margin-bottom: 1px;
  }

  &__author {
    text-transform: none;
    margin-bottom: 9px;
  }

  &__likes {
    font-weight: bold;
    padding-left: 36px;
    position: relative;

    // TODO: Нужен ли класс?
    svg {
      fill: #b2b2b2;
      content: "";
      height: 22px;
      left: 0;
      position: absolute;
      top: -3px;
      width: 24px;
    }

  }

  &:last-child::after {
    border-top: 1px solid $color-border;
    content: "";
    left: -20px;
    position: absolute;
    bottom: -18px;
    width: 320px;
  }

}

@media #{$break-medium} {

  .photo {
    margin-bottom: 0;

    &::before {
      content: none;
    }

    &__picture {
      @include size(324px, 267px);
      margin-bottom: 0;

      &--big-size {
        @include size(648px, 400px);
      }

    }

    &__description {
      background-color: $bg-color-lightgrey;
      flex-wrap: wrap;
      height: 64px;
      margin: 0;
      padding: 0 20px;
      padding-top: 16px;
    }

    &__likes {
      align-self: flex-end;
      padding-top: 13px;
      width: 33px;

      svg {
        left: 2px;
        top: 11px;
      }

    }

    &:first-child {
      width: 100%;
    }

    &:last-child::after {
      content: none;
    }

  }

}

@media #{$break-large} {

  .photo {
    position: relative;

    &__picture {
      width: 400px;

      &--big-size {
        width: 1200px;
      }

    }

    &__description {
      background-color: rgba(0, 0, 0, 0.3);
      bottom: 0;
      color: $color-white;
      left: 0;
      padding: 0;
      padding-top: 16px;
      position: absolute;
      width: 100%;
    }

    &__title,
    &__author {
      padding-left: 20px;
    }

    &__likes {
      padding-right: 20px;

      svg {
        fill: $color-white;
      }

    }

  }

}
