.photos {
  @include container;
  margin-bottom: 11px;

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__header {
    text-align: center;
    margin-bottom: 50px;
  }

  &__title {
    font-size: $font-size-medium;
    margin: 0;
    margin-bottom: 25px;
  }

  &__text {
    line-height: $line-height-medium;
    margin: 0;
    padding: 0 5px;
  }

}

@media #{$break-medium} {

  .photos {
    margin-bottom: 66px;

    &__row {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__header {
      margin-top: 74px;
      margin-bottom: 69px;
    }

    &__title {
      font-size: $font-size-extra;
      margin-bottom: 31px;
    }

    &__text {
      margin: 0 auto;
      width: 430px;
    }

  }
}

@media #{$break-large} {

  .photos {
    margin-bottom: 70px;
    width: 1200px;

    &__header {
      margin-top: 111px;
      margin-bottom: 71px;
    }

    &__title {
      margin-bottom: 31px;
    }

  }
}
