.photos {
  @include container;
  margin-bottom: 12px;

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__header {
    text-align: center;
    margin-bottom: 49px;
  }

  &__title {
    font-size: $font-size-medium;
    margin: 0;
    margin-bottom: 25px;
  }

  &__text {
    line-height: $line-height-medium;
    margin: 0;
    padding: 0 5px;
  }

}

@media #{$break-medium} {

  .photos {
    margin-bottom: 68px;

    &__row {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__header {
      margin-top: 76px;
      margin-bottom: 68px;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    &__text {
      margin: 0 auto;
      width: 430px;
    }

  }
}

@media #{$break-large} {

  .photos {
    margin-bottom: 72px;
    width: 1200px;

    &__header {
      margin-top: 113px;
      margin-bottom: 70px;
    }

  }
}
