.photo {
  margin-bottom: 40px;
  position: relative;

  &::before {
    border-top: 1px solid $color-border;
    content: "";
    left: -20px;
    position: absolute;
    top: -23px;
    width: 320px;
  }

  &__picture {
    @include size(280px);
    background-color: #fec882;
    margin-bottom: 15px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    line-height: $line-height-medium;
  }

  &__author {
    text-transform: none;
    margin-bottom: 8px;
  }

  &__likes {
    color: $color-base;
    font-weight: bold;
    padding-left: 36px;
    position: relative;
    text-decoration: none;
  }

  &__icon {
    fill: #b2b2b2;
    height: 22px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 24px;
  }


  &:last-child::after {
    border-top: 1px solid $color-border;
    content: "";
    left: -20px;
    position: absolute;
    bottom: -18px;
    width: 320px;
  }

}

@media #{$break-medium} {

  .photo {
    margin-bottom: 0px;
    width: 50%;

    &::before {
      content: none;
    }

    &__picture {
      @include size(324px, 267px);
      margin-bottom: 0;

      &--big-size {
        @include size(648px, 400px);
      }

    }

    &__description {
      align-content: center;
      background-color: $bg-color-lightgrey;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      min-height: 72px;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      padding-top: 8px;
      position: relative;
    }

    &__title {
      width: 70%;
    }

    &__author {
      width: 70%;
    }

    &__likes {
      position: absolute;
      right: 20px;
      top: 28px;
      width: 33px;

      &--wide {
        right: 21px;
      }

    }

    &__icon {
      left:4px;
      top: 0px;
    }

    &:first-child {
      width: 100%;
    }

    &:last-child::after {
      content: none;
    }

  }

}

@media #{$break-large} {

  .photo {
    position: relative;
    width: 33.3333%;

    &__picture {
      width: 400px;

      &--big-size {
        width: 1200px;
      }

    }

    &__description {
      background-color: rgba(0, 0, 0, 0.3);
      bottom: 0;
      color: $color-white;
      left: 0;
      padding: 0;
      padding-top: 8px;
      position: absolute;
      width: 100%;
    }

    &__title,
    &__author {
      padding-left: 20px;
    }

    &__likes {
      color: $color-white;
      top: 28px;
    }

    &__icon {
      fill: $color-white;
    }

  }

}
