.presentation {
  margin-bottom: 141px;
  position: relative;

  &__title {
    font-size: $font-size-medium;
    margin: 0;
    margin-bottom: 26px;
  }

  &__text {
    line-height: $line-height-medium;
    margin: 0;
    margin-bottom: 37px;
    padding: 0 10px;
  }

  &__video {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__content {
    background-color: #c69d96;
    background-image: url("../img/video-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 320px 200px;
    min-height: 200px;

    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/video-mobile@2x.jpg");
    }

  }

  &__controls {
    @include container;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 20px;
    height: 110px;
    position: absolute;

    &::after {
      background-color: $bg-color-lightgrey;
      bottom: -1px;
      content: "";
      left: 0;
      min-height: 66px;
      position: absolute;
      width: 100%;
    }

  }

  &__control-progress {
    position: relative;
  }

  &__scale {
    cursor: pointer;
    width: 235px;
  }

  &__bar {
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  }

  &__toggle {
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    height: 9px;
    left: 15%;
    position: absolute;
    top: 60%;
    transform: translate(-15%, -50%);
    width: 9px;
  }

  &__control-revert {
    cursor: pointer;
    fill: #5c6870;
    height: 20px;
    margin-left: 10px;
    margin-right: 104px;
    width: 16px;
    z-index: 2;

    &:hover {
      fill: $color-hover-controls;
    }

    &:active {
      fill: $color-active-controls;
    }

  }

  &__control-revert &__control-icon {
    height: 20px;
    width: 16px;
  }

  &__control-subtitle {
    cursor: pointer;
    fill: #5c6870;
    height: 20px;
    width: 32px;
    z-index: 2;

    &:hover {
      fill: $color-hover-controls;
    }

    &:active {
      fill: $color-active-controls;
    }

  }

  &__control-subtitle &__control-icon {
    height: 20px;
    width: 32px;
  }

  &__control-fullscreen {
    cursor: pointer;
    fill: #5c6870;
    height: 20px;
    margin-right: 10px;
    width: 20px;
    z-index: 2;

    &:hover {
      fill: $color-hover-controls;
    }

    &:active {
      fill: $color-active-controls;
    }

  }

  &__control-fullscreen &__control-icon {
    height: 20px;
    width: 20px;
  }

}

@media #{$break-medium} {

  .presentation {
    @include container;
    margin-bottom: 77px;

    &__title {
      font-size: $font-size-extra;
      margin-bottom: 32px;
    }

    &__text {
      margin-bottom: 72px;
    }

    &__content {
      background-image: url("../img/video-tablet.jpg");
      background-size: 648px 500px;
      min-height: 500px;

      @media
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
          background-image: url("../img/video-tablet@2x.jpg");
      }

    }

    &__controls {
      bottom: 0;
      left: 0;
      min-height: 93px;

      &::after {
        content: none;
      }
    }

    &__scale {
      margin-right: 10px;
      width: 389px;
    }

    &__toggle {
      left: 29%;
      transform: translate(-29%, -50%);
    }

    &__control-revert {
      fill: $color-white;
      margin: 0;
      margin-left: 18px;
      margin-right: 11px;
      order: -1;
    }

    &__control-subtitle {
      fill: $color-white;
    }

    &__control-fullscreen {
      fill: $color-white;
      margin-right: 26px;
    }

  }

}

@media #{$break-large} {

  .presentation {
    margin-bottom: 121px;
    width: 800px;

    &__title {
      margin-bottom: 31px;
    }

    &__text {
      margin-bottom: 73px;
    }

    &__content {
      background-image: url("../img/video-desktop.jpg");
      background-size: 800px 500px;

      @media
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
          background-image: url("../img/video-desktop@2x.jpg");
      }

    }

    &__controls {
      width: 100%;
    }

    &__scale {
      width: 540px;
    }

    &__toggle {
      left: 21%;
      transform: translate(-21%, -50%);
    }

  }

}
