.social-btn {
  background-color: $bg-color-base;
  background-repeat: no-repeat;
  font-size: 0;
  height: 48px;
  margin-right: 6px;
  width: 46px;

  &:last-child {
    margin-right: 0;
  }

  // TODO: Нужен ли отдельный класс?
  svg {
    fill: $color-white;
  }

  &--tw svg {
    @include size(18px, 14px);
    margin-top: 17px;
  }

  &--fb svg {
    @include size(9px, 18px);
    margin-top: 14px;
  }

  &--yt svg {
    @include size(20px, 14px);
    margin-top: 17px;
  }

}
