.social {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media #{$break-medium} {

  .social {
    margin-right: 10px;
  }

}

@media #{$break-large} {

  .social {
    margin-right: 0px;
  }

}
