.welcome {
  margin-bottom: 40px;
  position: relative;

  &__image {
    @include size(320px, 389px);
  }

  &::after {
    background-image:
      linear-gradient(
        to top right,
        $color-white 50%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        $color-white 50%,
        transparent 50%
      );
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    bottom: 0;
    content: "";
    height: 26px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
  }

}

@media #{$break-medium} {

  .welcome__image {
      @include size(768px, 518px);
  }

}

@media #{$break-large} {

  .welcome__image {
      width: 1200px;
  }

}
