.welcome {
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto 389px;
  margin-bottom: 38px;
  position: relative;

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &__image {
    @include size(280px, 389px);
    margin: 0 auto;

    &--inner-page {
      height: 159px;
    }

  }

  &::after {
    background-image:
      linear-gradient(
        to top right,
        $color-white 50%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        $color-white 50%,
        transparent 50%
      );
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    bottom: 0;
    content: "";
    height: 26px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
  }

}

@media #{$break-medium} {

  .welcome {
    background-image: url("../img/bg-back-desktop.jpg");
    background-position: top;
    background-size: auto 518px;
    margin-bottom: 50px;

    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &__image {
      @include size(460px, 518px);

      &--inner-page {
        height: 290px;
      }

    }

    &::before {
      background-image:
        linear-gradient(
          to top right,
          $color-white 50%,
          transparent 50%
        ),
        linear-gradient(
          to top left,
          $color-white 50%,
          transparent 50%
        );
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      background-size: 50.1% 100%;
      bottom: 0;
      content: "";
      height: 58px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 91%;
      z-index: 1;
    }

    &::after {
      height: 38px;
    }

  }

}

@media #{$break-large} {

  .welcome {
    background-size: auto 518px;

    &__image--inner-page {
        height: 302px;
    }

    &::before {
      height: 58px;
      width: 58%;
    }

    &::after {
      height: 57px;
    }

  }

}
