.wrapper {
  background-color: $color-white;
  margin: 0 auto;
  width: 320px;

  @media #{$break-medium} {
    width: 768px;
  }

  @media #{$break-large} {
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.20);
    width: 1200px;
  }

}
